<a href="https://colab.research.google.com/github/MinseaSon/stock_market_analysis/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def coffee(temp):
    if temp > 0 :
        print("아이스 아메리카노")
    else:
        print("따뜻한 아메리카노")

In [2]:
coffee(30)

아이스 아메리카노

In [3]:
coffee(-10)

따뜻한 아메리카노

[문제]
1학년 2반의 시험 성적은 다음과 같습니다.

[80, 90, 70, 65, 85, 95, 90, 80, 75, 80]

시험 문제 중, 한 문제가 잘못 출제되어 모두 5점씩 추가 점수를 받도록 조치를 취했습니다. 변경 후 점수를 반환하는 함수를 만들어 보세요.

In [ ]:
def update_scores(scores) :
    new_scores = []

    for s in scores:
        new = s + 5
        new_scores.append(new)
    return new_scores

In [5]:
scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new = update_scores(scores)
print(new)

SyntaxError: ignored

[문제]
영어 단어 또는 문장을 인자로 받아서 대문자와 소문자로 출력하는 함수를 만들어보세요.

In [13]:
def change_word_case(word):
    upperCase = word.upper()
    lowerCase = word.lower()
    return upperCase, lowerCase

In [14]:
change_word_case("I love Seoul.")

('I LOVE SEOUL.', 'i love seoul.')

In [15]:
('I LOVE SEOUL.', 'i love seoul.')

('I LOVE SEOUL.', 'i love seoul.')

In [16]:
upper, lower = change_word_case("I love Seoul.")
print('대문자는 {0} 이고, 소문자는 {1}이야. 나는 대문자 {0} 문구가 적힌 티셔츠를 만들고 싶어'.format(upper, lower))

대문자는 I LOVE SEOUL. 이고, 소문자는 i love seoul.이야. 나는 대문자 I LOVE SEOUL. 문구가 적힌 티셔츠를 만들고 싶어

In [17]:
upper, _ = change_word_case("I love Seoul.")
print('나는 대문자 {0} 문구가 적힌 티셔츠를 만들고 싶어'.format(upper))

나는 대문자 I LOVE SEOUL. 문구가 적힌 티셔츠를 만들고 싶어

[문제]
사용자로부터 키와 성별을 입력 받아서 권장 체중을 화면에 출력하는 함수를 작성하세요.
권장 체중은 다음과 같이 계산합니다.

남성 권장 체중 = (키 – 100)
여성 권장 체중 = (키 – 100) * 0.9

In [10]:
def print_weight(height, man=True):
    weight = 0
    if man:
        weight = (height - 100)
    else:
        weight = (height - 100) * 0.9
    print("권장 체중은 {}kg 입니다".format(weight))

In [11]:
print_weight(170)

권장 체중은 70kg 입니다

In [12]:
print_weight(170, True)

권장 체중은 70kg 입니다

In [18]:
(lambda x : x + 5)(100)

105

In [19]:
sum5 = lambda x : x + 5
print(sum5(100))

105

In [20]:
multiply = lambda x, y : x * y
print(multiply(4, 5))

20

In [21]:
(lambda x, y : x * y)(4,5)

20

In [22]:
wieght = lambda height: (height-100)*0.9
print(wieght(170))

63.0

In [23]:
(lambda height : (height - 100) * 0.9)(170)

63.0

In [24]:
text = "나는 자랑스러운 태극기 앞에 자유롭고 정의로운 대한민국의 무궁한 영광을 위하여 충성을 다할 것을 굳게 다짐합니다."
text.split(" ") # 공백을 구분자로 하여 문장을 쪼갬

['나는',
 '자랑스러운',
 '태극기',
 '앞에',
 '자유롭고',
 '정의로운',
 '대한민국의',
 '무궁한',
 '영광을',
 '위하여',
 '충성을',
 '다할',
 '것을',
 '굳게',
 '다짐합니다.']

In [25]:
text = "+82-10-1234-5678"
text.split("-") #"-"을 구분자로 하여 문장을 쪼갬

['+82', '10', '1234', '5678']

In [26]:
text.split("-", 2)

['+82', '10', '1234-5678']

In [27]:
text = "     토실토실 아기 돼지    "
text.strip()

'토실토실 아기 돼지'

In [28]:
text = "\n\n\n\n토실토실 아기 돼지\n\n\n\n"
text.strip("\n")

'토실토실 아기 돼지'

In [29]:
text = "XXaaaaa토실토실 아기 돼지aaaaa"
text.strip("a")

'XXaaaaa토실토실 아기 돼지'

In [30]:
text = "ababab토실토실 아기 돼지ababab"
text.strip("ab")

'토실토실 아기 돼지'

In [31]:
text = "ssss토실토실 아기 돼지sssss"
text.lstrip('s')

'토실토실 아기 돼지sssss'

In [32]:
text1 = "->"
text2 = ["인천", "도쿄", "뉴욕", "파리"]
text1.join(text2)

'인천->도쿄->뉴욕->파리'

In [33]:
text1 = "*"
text2 = ["인천", "도쿄", "뉴욕", "파리"]
text1.join(text2)

'인천*도쿄*뉴욕*파리'

In [34]:
text = "송아지 송아지 얼룩 송아지"
text.find("지")

2

In [35]:
text = "송아지 송아지 얼룩 송아지"
text.find("금")

-1

In [37]:
animals = ['강아지', '송아지', '돼지']

for i in animals:
    print(i.startswith('강'))

True
False
False

In [ ]:
animals = ['강아지', '송아지', '돼지']

for i in animals:
    print(i.endswith('지'))

In [38]:
text = 'Coffee'
text.lower()

'coffee'